.about-us-section img {
    width: 100%
}

.about-us-section h2 {
    text-align: center;
}

.about-us-container .about-us-section p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
}

@media only screen and (min-width: 1024px) {
    .about-us-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-us-container .about-us-section {
        margin: 0 1em;
        padding-bottom: 2em;
    }

    .about-us-section img {
        width: 700px;
    }
}